.container{
 margin: 5px;
 padding: 20px;
 display: flex;
 flex-direction: column;
 gap: 10px;
 border: 5px solid;
 border-radius: 20px;
}

.display{
 font-size: 5rem;
 font-family: monospace;
}

.controls button{
    font-size: 1.5rem;
    padding: 10px 20px ;
    margin: 5px;
    border: none;
    border-radius: 20px;
    background-color: rgb(215, 250, 232);
    cursor: pointer;
}
